body {
        margin: 0;
        padding: 0;
        position: relative;
        background: #FFFFFF;
        font-family: 'Cabinet Grotesk', 'Roboto', 'Fractul', sans-serif;
        width: 100vw;
        height: 100vh;
        overflow-x: hidden; /* Prevent horizontal scroll */
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

header nav a {
    font-size: 1rem;
    text-decoration: none;
}



footer {
    font-size: 0.9rem;
}
